@import url(https://fonts.googleapis.com/css?family=Great+Vibes|Pacifico|Sacramento|Satisfy);

html { 
  background:  url(https://media.giphy.com/media/huWlf4Dde6R9K/giphy.gif) no-repeat center center fixed; 
  background-size: cover;
}

h1{
  font-family: 'Pacifico', cursive;
  font-family: 'Great Vibes', cursive;
  font-family: 'Sacramento', cursive;
  font-family: 'Satisfy', cursive;
  font-size: 3em;
  margin: 5.65em 6.7em 5.5em 12.83em;
  color: rgba(200, 196, 196, 0.781);
}

.container {
  width: 450px;
  height: 450px;
  margin: 7em 2em 2em 2em;
  background-color: transparent;
  border: solid black;
}

/*-----------------------------------------------------------------------------------------------                       Select All The Squares In The Array                                     -----------------------------------------------------------------------------------------------*/

/* .container .stockings:nth-child(-n+4) {
  background-image: url("../Img/use.jpg");
  background-image:color transparent;
  float: left;
  width: 200px;
  height: 200px;
  margin: 5px;
  border: 1px solid black;
  border-radius: 25%;
  cursor: pointer; */
  /* transition-property: transform;
  transition-delay: ;
  transition-delay: ; */
  transition: transform .5s ease-in-out;
}

/*-----------------------------------------------------------------------------------------------                       Select All Squares Paragraphs In The Array                               -----------------------------------------------------------------------------------------------*/
.squares:nth-child(-n+4) p {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.5em;
  font-weight: 900;
  text-align: center;   
  margin: 0;
    text-shadow: 2px 1px 4px rgba(0, 0, 0, 0.8);
}

/*-----------------------------------------------------------------------------------------------                       Individually Select A Square In The Array                                -----------------------------------------------------------------------------------------------*/

.squares:nth-child(-n+1) {
  background-color:#ff5733;
}

.squares:nth-child(2) {
  background:#ab3fdd;
}

.squares:nth-child(3) {
  background:#ae163a;
}

.squares:nth-child(4) {
  background:#00b200;
}

/*-----------------------------------------------------------------------------------------------                       Hover, Translate, & Transition Effects                                -----------------------------------------------------------------------------------------------*/

.container .squares:nth-child(-n+4):hover {
    background-image: url("../img/Basic HTML Template_Smiles Icons/smileyface1.png");
    transform: scale(.5s);
    animation-name: race;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(2.5, .2, .3, 2);
}

.squares:nth-child(-n+1) {
    background-color:#3352ff;
  }
  
  .squares:nth-child(2) {
    background:#ddc53f;
  }
  
  .squares:nth-child(3) {
    background:#a03aae;
  }
  
  .squares:nth-child(4) {
    background:#864303;
  }

  .button:hover {
      background-color: rgba(43, 0, 44, 0.87);
      color: #fdaede;
      cursor: pointer;
  }

  /*---------------------------------------------------------------------------------------------                                     Animation Effects                                ---------------------------------------------------------------------------------------------*/
@keyframes race {
    0%, 100% {
        transform: translateY(0px);
        background-image: url("../img/Basic HTML Template_Smiles Icons/smileyface1.png");
    }

    50% {
        transform: translateY(330px);
    }
}